body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #bdb6b6;
}

header, footer, nav, section {
    text-align:center;
    display: block;
   
}
header{
    
    display: block;
    color: #ededed;
    background-color: #c20000;
    padding: 2px;
}
.headernav {
    text-align: center;
    background-color: #656464;
    display: block;
    border: 2px solid white;
    padding:25px;
    font-size:larger;
    
}
.headernav a{
    border: 3px dashed #c20000;
    padding: 5px;
    transition: background-color 1.5s ease-out, padding 1.5s ease-out, border 2s ease-out, color 2s ease-out;;
}
.headernav a:hover{
    background-color: #c20000;
    padding: 0px 0px 0px 0px;
    border: 3px solid black;
    
}
footer{
    background-color: #656464;
    padding: 2px;
}
.foot{
    display: inline-block;

}
nav a{
    font-size: large;
    margin: 30px;
    color: yellow;
    transition: color 2s ease-out;
}
nav a:hover{
    color: white;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
.HI img{
    width:98%;
    border: solid 4px #ededed;
}
h3{
   font-size:x-large;
}

.aboutme {
    box-sizing:border-box;
    float: left;
   display:inline-block;
    border: solid 6px white;
    width: 28%;
    background-color: #c20000;
    box-shadow: 10px 10px black;
    color: #ededed;
}
.aboutme a{
    box-shadow: 5px 5px #656464;
    color: yellow;
    transition: color 2s ease-out;
}
.aboutme a:hover{
    color: white;
   
}
.Work {
    box-sizing:border-box;
    display:inline-block;
    width: 28%;
    border: solid 6px white;
    background-color: #c20000;
    box-shadow: 10px 10px black;
    color: #ededed;
}
.Work a{
     box-shadow: 5px 5px #656464;
    color: yellow;
    transition: color 2s ease-out;
}
.Work a:hover{
 color: white;
}
.Contact{
    box-sizing:border-box;
    float: right;
   display:inline-block;
    border: solid 6px white;
    background-color: #c20000;
    width: 28%;
    box-shadow: 10px 10px black;
    color: #ededed;
}
.Contact a{
     box-shadow: 5px 5px black;
    color: yellow;
    transition: color 2s ease-out;
}
.Contact a:hover{
    color: white;
}
.para{
    margin-left: 9px;
}
.AIN{
   
    display:inline-block;
    border:7px double gray;
    border-width: thick;
    font-size:large;
    background-color: #c20000;
    color: #ededed
}

.topleft, .topright{
    box-sizing:border-box;
    width: 40%;
    display:inline-block;
    border: 5px solid gray;
    background-color: #c20000;
    
}

.botright, .botleft{
    box-sizing:border-box;
    width: 40%;
    display: inline-block;
    border: 5px solid gray;
    background-color: #c20000;
}
.firstname, .lastname{
    
    display: inline-block;  
}
.email, .phone{
    
     display: inline-block; 
 }
.comment{
    text-align:center
}
form{
    text-align:center;
}
 .thanks{
     text-size-adjust:auto;
     border: 4px dashed white;
 }
.hide{
     display:none;
 }
 .active{
     display:inline-block;
 }
 .carNext{
     border: solid 3px black;
     background-color: white;
     color: blue;
     font-size: large;
     cursor:pointer;
     display: inline-block;
 }
 .carNext:hover{
     font-size:x-large;
     background-color: gray;
 }
 p{
     font-size:large;
 }
 h2{
     text-align:center;
     font-size:x-large;
     font:bold;
     color: #c20000;
 }
.contact1{
    background-color: #c20000;
}
h4{
    color: white;
    font-family:"Comic Sans MS", cursive, sans-serif;
}