@{
    ViewBag.Title = "About Me";
}



<img src="~/Content/Images/meprof.jpg" height="300px" style="float:left;" />
<img src="~/Content/Images/4wheelme.jpg" height="300px" />
<img src="~/Content/Images/giant'sme.jpg" height ="300px"style="float:right" />

<div class="AIN">
    <h3>About Me</h3>

    <p class="para">
        <h4>"LET'S WORK OUT!"</h4>
 As an technologist with an athlete's mentality I excel at breaking down problems and taking on the individual pieces. I love to socialize and code. I have loved my computer for a long time and I can't imagine my life without technology in it. I was born in California and raised in Colorado. I love to go to the mountains and hike. I live for creating things from scratch and using my friends as amazing resources to help me achive my goals. I can't wait to start a career in a field that is constantly growing and changing.

 </p>
    
</div>