@{
    ViewBag.Title = "About Me";
}

<h2>About Tyler Annis</h2>
<div class="AIN">
    <h3>About Me</h3>
    <p style="border: 3px solid black;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget tortor dignissim, interdum eros eget, iaculis lectus. Curabitur nisl erat, mattis vitae nulla at, interdum maximus turpis. Nam vestibulum ipsum fringilla convallis molestie. Donec placerat tincidunt vulputate. Pellentesque dolor nisl, bibendum sed sodales nec, scelerisque eu risus. Nullam dapibus neque quis varius dapibus. Aenean eu nisi sed urna ornare tempus.
Quisque sagittis ipsum in nunc vestibulum laoreet. Curabitur malesuada mattis ligula, nec euismod justo hendrerit a. Curabitur tincidunt imperdiet enim, vitae placerat libero vestibulum nec. Aliquam a justo quis odio molestie sagittis. Integer posuere porttitor nibh, lobortis vulputate nisi fermentum sed. Donec ut mauris eu purus congue sagittis. In mattis posuere urna, aliquam sodales velit volutpat at. Etiam nec odio justo. Etiam ut ante ultricies, mollis lectus id, porta nunc.

  <br />
        <br />
        Morbi accumsan mattis odio ut auctor. Maecenas ac accumsan nunc, ut sodales nunc. Sed rhoncus risus quis libero faucibus, nec ornare sem tempor. Maecenas efficitur accumsan odio, aliquam aliquam sapien cursus eu. Vestibulum nec neque quis turpis elementum tempor vel hendrerit urna. Etiam elementum bibendum tempus. Fusce blandit semper scelerisque. Cras cursus et neque sit amet euismod.

Mauris in volutpat lacus. Duis quis rutrum felis, ultrices pharetra tellus. Nunc quam justo, faucibus id commodo ac, ornare eget ex. Nunc eget ligula neque. Donec euismod nisi eros, vitae dictum metus tincidunt ut. Aliquam ac turpis ut ante luctus pharetra. Quisque a lectus auctor mi maximus placerat. Curabitur at luctus nisl, ac consequat metus. Duis quis facilisis enim. Nullam viverra eros rhoncus nibh volutpat facilisis. Aenean aliquam pharetra accumsan. Donec fermentum gravida ullamcorper. Sed dictum arcu vitae faucibus mattis. Integer cursus luctus ligula, at blandit metus. In semper neque et ultricies mollis.
    </p>

</div>