
@{
    ViewBag.Title = "My site about Tyler Annis";
}

<h2>Tyler Annis Portfolio</h2>
<div class="HI">
    <img src="~/Content/Images/code.jpg" width="100%" height="50%" />
</div>


<div class="aboutme">
    <h3> About Me</h3>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget tortor dignissim, interdum eros eget, iaculis lectus. Curabitur nisl erat, mattis vitae nulla at, interdum maximus turpis. Nam vestibulum ipsum fringilla convallis molestie. Donec placerat tincidunt vulputate. Pellentesque dolor nisl, bibendum sed sodales nec, scelerisque eu risus. Nullam dapibus neque quis varius dapibus. Aenean eu nisi sed urna ornare tempus.
Quisque
</div>

&nbsp

<div class="Work">
    <h3>Work</h3>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget tortor dignissim, interdum eros eget, iaculis lectus. Curabitur nisl erat, mattis vitae nulla at, interdum maximus turpis. Nam vestibulum ipsum fringilla convallis molestie. Donec placerat tincidunt vulputate. Pellentesque dolor nisl, bibendum sed sodales nec, scelerisque eu risus. Nullam dapibus neque quis varius dapibus. Aenean eu nisi sed urna ornare tempus.
Quisque
</div>

&nbsp
<div class="Contact">
    <h3> Contact Information</h3>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget tortor dignissim, interdum eros eget, iaculis lectus. Curabitur nisl erat, mattis vitae nulla at, interdum maximus turpis. Nam vestibulum ipsum fringilla convallis molestie. Donec placerat tincidunt vulputate. Pellentesque dolor nisl, bibendum sed sodales nec, scelerisque eu risus. Nullam dapibus neque quis varius dapibus. Aenean eu nisi sed urna ornare tempus.
Quisque
</div>