
@{
    ViewBag.Title = "My site about Tyler Annis";
}

<h2>Tyler Annis</h2>
<div class="HI">
    <img src="~/Content/Images/TreeofGeers.jpg" width="100%" height="66%" />
</div>


<div class="aboutme">
    viva la vida de los bandito's
    es no problem para el perro
    I like espanol and cake
</div>

&nbsp
<div class="Work">
Work work all week long
</div>

&nbsp
<div class="Contact">
I'm not giving you that!
</div>