@{
    ViewBag.Title = "BattleShip";
}


<div>
    <div class="carousel1 active">
    <img src="~/Content/Images/battleDisplay.jpg" height="400px" />
        </div>
       <div class="carousel1 hide">
    <img src="~/Content/Images/battlegrid.jpg" height="400px" /></a>
   </div>
    <div class="carousel1 hide">
        <img src="~/Content/Images/battlecode.jpg" height="400px" /></a>
    </div>
      <ul class="carNext">
   <li data-nextid="carousel1">Next></li>
</ul>
     <p>
       <h2>BattleShip</h2>
        
       BattleShip is based on the old board game.
        It was my first time working with a
        multidimensional Array.
    </p>
    <p>
        <h3>Download and play:)</h3>
        <a href="https://github.com/tylerannis/BattleShip/blob/master/BattleShip/BattleShip/bin/Debug/BattleShip.exe?raw=true">Download BattleShip</a>
    </p>


</div>