@{
    ViewBag.Title = "Dragon";
}

<h2>Dragon</h2>
 <div class="carousel3 active">
    <img src="~/Content/Images/yinyangsoft.jpg" height="300px" />
        </div>
   <div class="carousel3 hide">
        <img src="~/Content/Images/sanfran.png" height="300px" />
        </div>
    <div class="carousel3 hide">
        <img src="~/Content/Images/2014-08-07-awesomeness.jpg" height="300px" />
    </div>
    <p>
        <h3>Draagon Slayer</h3>
        <h4>About the Game</h4>
       Dragon Slayer was my first work with objects and classes.
        It took me about a week to wrap my head around the concept,
        but after that I firmly understood it and have been able to
        implement it ever since.
    </p>
    <ul class="carNext">
    <li data-nextid="carousel3">Next></li>
</ul>