@{
    ViewBag.Title = "Dragon";
}

<h2>Dragon</h2>
 <div class="carousel3 active">
    <img src="~/Content/Images/2014-08-07-awesomeness.jpg" height="300px" />
        </div>
   <div class="carousel3 hide">
        <img src="~/Content/Images/imagesTardis.jpg" height="300px" />
        </div>
    <div class="carousel3 hide">
        <img src="~/Content/Images/narutp.jpg" height="300px" />
    </div>
    <p>
       <h2>Tyler's Work</h2>
        I rock lots of socks. I love computers and I love to work with people, though I can work on my own. I just can't see myself as anything less than successful.
    </p>
    <ul class="carNext">
    <li data-nextid="carousel3">Next></li>
</ul>