@{
    ViewBag.Title = "Guess";
}

<h2>Guess</h2>
<div>
    <img src="~/Content/Images/NumberGame.jpg" />
    
</div>
<div>
    <h3>About the Game</h3>
     <div class="carousel4 active">
        <img src="~/Content/Images/NumberGame.jpg" height="300px" /></a>
     </div>
      <div class="carousel4 hide">
        <img src="~/Content/Images/numbergamecode.jpg" height="300px" /></a>
      </div>
     <div class="carousel4 hide">
        <img src="~/Content/Images/numberwin.jpg" height="300px" /></a>
      </div>
        
   <ul class="carNext">
   <li data-nextid="carousel4">Next></li>
</ul>
    <p>
        This is a game where you guess a number between 1 and 100.
       The game will tell you if you are to high or to low and it will keep track of the number of guesses it takes you to get it right.
       Then it will ask you to input your score if you make the top 10 high scores.
    </p>
    <p>
        <a href="https://github.com/tylerannis/GuessThatNumber/blob/master/GuessThatNumber/GuessThatNumber/bin/Debug/GuessThatNumber.exe?raw=true">Click here to download Guess That Number Game!</a>
    </p>
</div>