@{
    ViewBag.Title = "Images of Work";
}

<h2>Images of Work</h2>
<div class="topleft">
    <img  src="~/Content/Images/work.jpg" />
    <p>
        Work Sample 1
    </p>
    </div>
&nbsp &nbsp
<div class="topright">
    <img  src="~/Content/Images/work.jpg" />
    <p>
        Work Sample 2
    </p>
</div>
<br />
<br />
<br />
<div class="botleft">
    <img src="~/Content/Images/work.jpg" />
    <p>
        Work Sample 3
    </p>
    </div>
&nbsp &nbsp
<div class="botright">
    <img src="~/Content/Images/work.jpg" />
    <p>
        Work Sample 4
    </p>
</div>