@{
    ViewBag.Title = "Images of Work";
}

<h2>Images of Work</h2>

<div class="topleft">
    <div class="carousel1 active">
        <a href="/Work/BattleShip" ><img src="~/Content/Images/battleDisplay.jpg" height="300px" /></a>
        </div>
    </div>

&nbsp &nbsp

<div class="topright">
   
    <div class="carousel2 active">
    <a href="/Work/Trivia"><img src="~/Content/Images/Untitled.jpg" height="300px" style="" /></a>
        </div>   
 </div>
   
<br />
<br />
<br />

<div class="botleft">
   
    <div class="carousel3 active">
    <a href="~/Work/Dragon"><img src="~/Content/Images/yinyangsoft.jpg" height="300px" /></a>
        </div>
 
    </div>

&nbsp &nbsp

<div id="next3" class="botright">
   
    <div class="carousel4 active">
   <a href="/Work/Guess"> <img src="~/Content/Images/NumberGame.jpg" height="300px" /></a>
        </div>

         </div>
  
</div>