@{
    ViewBag.Title = "Trivia";
}

<h2 class="worktitle">Trivia</h2>
<div class="workimage">
      <div class="carousel2 active">
    <img src="~/Content/Images/Untitled.jpg" height="300px" style="" /></a>
        </div>
    <div class="carousel2 hide">
       <img src="~/Content/Images/triviacode.jpg" height="300px" /></a>
        </div>
    <div class="carousel2 hide">
       <img src="~/Content/Images/triviacode2.jpg" height="300px" /></a>
    </div>
      <ul class="carNext">
   <li data-nextid="carousel2">Next></li>
</ul>


</div>
     <h4>About the Game</h4>
<p>
       A basic Trivia game where you get asked a question and 
        have to type the answer. I used a textfile for the questions
        and it keeps track of the number of questions right and you
        can only get 5 wrong. The questions are almost impossible to answer though.
    </p>