@model Potfolio.Models.Comment
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<p>Are you sure you want to delete @Model.FirstName's Donor Info?</p>

<form action="@Url.Action("DeleteConfirm", "Contact", new{ID = Model.ComentID})" method="post">

<input type="submit" value="HELL YES I DO!!" />

</form>